.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.category-card-container {
  align-items: center;
  margin: 4rem auto;
  padding: 10;
}

.category-card {
  text-align: center;
  background-color: #1ab1ed;
  border-radius: 25px;
  padding-top: 25px;
  padding-bottom: 5px;
}

.category-card:hover {
  background-color: #f583d8;
}

.category-card-heading {
  color: white;
  text-align: center;
  font-size: 40px;
}

