.recipe-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  row-gap: 30px;
}

.recipe-card {
  border-radius: 25px;
  background-color: #1ab1ed;
}

.recipe-card img {
  width: 100%;
  border-radius: 25px 25px 25px 25px;
}

.recipe-card-heading {
  margin-top: 10px;
  font-size: 32px;
  height: 70px;
  padding: 20px;
}

.recipe-card-body {
  margin-top: 10px;
  font-size: 20px;
  height: 100px;
  padding: 20px;
}

.recipe-card-button {
  text-align: center;
  padding: 20px;
}

.recipe-card-link {
  color: #4a18e2;
  margin-top: 10px;
  font-size: 20px;
}
