#recipecard {
    margin: 0;
    padding: 3rem;
    box-sizing: border-box;
    text-transform: capitalize;
    letter-spacing: .5px;
}

.recipe-title{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipe-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.recipe-card-container{
    align-items: center;
    margin: 4rem auto;
    padding: 20;
}

.recipe-card{
    align-items: center;
    background-color: black;
}
.recipe-card-heading{
    color: white;
}
.recipe-card-body{
    color: white;
}
